:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}

html {
  height: 100%;
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  background: var(--very-dark-blue);
  color: var(--light-grey);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 44rem;
  margin: 0 auto;
  padding: 4rem 1.6rem;
}

.container > * {
  margin: auto;
}

.rating-card {
  background: var(--dark-blue);
  padding: 3rem;
  border-radius: 1.5rem;
}

.icon-start {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: hsl(213, 19%, 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-card .title {
  color: var(--white);
  font-size: 2.5rem;
  margin: 17px 0 8px;
}

button {
  -webkit-user-select: none;
  user-select: none;
  appearance: none;
  border: none;
  cursor: pointer;
}

.vote-btn {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: hsl(216, 12%, 27%);
  color: var(--light-grey);
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 200ms ease-out;
}

.vote-btn:hover {
  background: var(--orange);
  color: var(--white);
}

.vote-btn.active {
  background: var(--medium-grey);
  color: #fff;
}

.rating-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2.3rem;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  background: var(--orange);
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 30rem;
  margin-top: 3rem;
  transition: 200ms ease-out;
}

.submit-btn:hover {
  background: #fff;
  color: var(--orange);
}

.submit-btn:active {
  transform: scale(0.97);
}

.feedback-card {
  background: var(--dark-blue);
  padding: 4rem 3.5rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  transform: scale(0);
  opacity: 0;
  animation: fadeIn 500ms ease forwards;
  animation-delay: 100ms;
}

.feedback-card img {
  display: block;
  width: 100%;
  max-width: 18rem;
}

.feedback-card .badge-vote {
  color: hsl(25, 97%, 60%);
  background: hsl(216, 12%, 22%);
  max-width: max-content;
  padding: 1.2rem 2rem;
  border-radius: 50rem;
  line-height: 1;
  margin: 4rem 0 3rem;
}

.feedback-card .title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 375px) {
  .rating-card {
    padding: 3rem 2rem;
  }

  .feedback-card {
    padding: 4rem 2rem 5rem;
  }
}
